name: Publish

on:
  push:
    tags:
      - '*'

jobs:
  publish:
    name: Publish binaries for ${{ matrix.os }} ${{ matrix.name }} (${{ matrix.arch }})
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-11, macos-12]
        arch: [arm64, x86_64]
        include:
          - os: macos-11
            os_name: big_sur
          - os: macos-12
            os_name: monterey
          - os: macos-13
            os_name: ventura
    steps:
      - uses: actions/checkout@v3

      - name: Build binary
        run: swift build --configuration release --arch ${{ matrix.arch }}

      - name: Generate archive name
        uses: haya14busa/action-cond@v1
        id: archive-name
        with:
          cond: ${{ matrix.arch == 'arm64' }}
          if_true: autokbisw-${{github.ref_name}}.arm64_${{ matrix.os_name }}.tar.gz
          if_false: autokbisw-${{github.ref_name}}.${{ matrix.os_name }}.tar.gz

      - name: Create archive
        run: |
          cd .build/release
          tar -czf ${{ steps.archive-name.outputs.value }} autokbisw

      - name: Upload archive to release
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: .build/release/${{ steps.archive-name.outputs.value }}
          asset_name: ${{ steps.archive-name.outputs.value }}
          tag: ${{ github.ref }}
          overwrite: true
